- form_for @presentation, :html => { :multipart => true } do |p|
  = p.label :event_id
  = p.select(:event_id, options_from_collection_for_select(@available_events, :id, :formatted_date))
  = p.select(:user_id, options_from_collection_for_select(all_users, :id, :email)) if current_user.admin?
  = p.label :title
  = p.text_field :title
  = p.label :description
  = p.text_area :description
  = p.label :slide_deck
  = p.file_field :slide_deck
  -if @presentation.slide_deck?
    %p= "Current File: #{@presentation.slide_deck_file_name}"
  - if include_video
    = p.label :video
    = p.file_field :video
    -if @presentation.video?
      %p= "Current File: #{@presentation.video_file_name}"
  = p.submit 'Save Presentation'
