- if user_signed_in?
  = link_to("My Presentations", :controller => 'presentations', :action => 'list')
  = link_to("Edit this presentation", edit_presentation_path(@presentation))
%p
%h2= @presentation.title
%p
  = "Event: #{@presentation.event.formatted_date}"
  = @presentation.event.description

= show_video(@presentation)

= show_slide_deck

= link_to('Download slide deck', @presentation.slide_deck.url) if @presentation.slide_deck?
