- presentations.each do |p|
  .presentation
    %p
      = "#{p.title} by #{p}"
    %p
      = link_to(p.slide_deck.url)
    %p
      = link_to('Edit', :controller => 'presentations', :action => 'edit', :id => p.id)
