- presentations.each do |p|
  .presentation
    %p
      = "#{link_to(p.title, presentation_path(p))} by #{p.user.email}"
    %p
      = "#{link_to('Download slide deck', p.slide_deck.url) if p.slide_deck?} | #{link_to('Edit this presentation', :controller => 'presentations', :action => 'edit', :id => p.id)}"
