- content_for :head do
  = javascript_include_tag("jquery-ui-timepicker-addon-0.5.js")
  = stylesheet_link_tag("jquery-ui-1.8.6.custom.css")
- content_for :footer do
  = javascript_include_tag("admin_tools.js")

.page_heading
  | Admin section

#upcoming_sessions
  %strong= 'Upcoming Sessions'
  #event_list
    = render :partial => 'events/list', :locals => { :events => @events }

  #schedule_session
    %strong= 'Schedule a session'
    - form_for :event, :html => {:id => 'event_form'} do |e|
      = e.label :description
      = e.text_field :description
      %br
      = e.label :date
      = e.text_field :date
      %br
      = e.label :location
      = e.select :location, @event_locations.uniq.sort
      %p.add_session_location
        %a{:href => 'javascript:void(0);', :id => 'add_location'}+ Add a location 
      %br
      = e.submit "Create Session"
  
%h2
  All Events
#all_events
  - @allevents.each do |event|
    .event
      %p= "#{event.formatted_date} (#{event.location})"
      %p.description
        = event.description
      - unless event.presentations.empty?
        .presentations
          = render :partial => 'event_presentations', :locals => { :presentations => event.presentations }  

= content_for :footer do
  #event-location-form{:title => 'Add Location'}
    #new-location-error
    %form
      %label{:for => 'location_name'} Location
      %input{:type => "text", :name => 'location_name', :id => 'location_name'}
