#upcoming_sessions
  %strong= 'Upcoming Sessions'
  #event_list
    = render :partial => 'events/list', :locals => { :events => @events }
  %p.sign_up
    = link_to("+ Sign up to present", :controller => 'presentations', :action => 'new')

- if user_signed_in?
  = link_to("My Presentations", :controller => 'presentations', :action => 'list')

%h2
  Recent Presentations
  
- if @presentations.empty?
  #no_presentations
    Sorry, no video presentations are currently available

- @presentations.each do |p|
  .hp_presentation
    .title= link_to(p.title, :controller => 'presentations', :action => 'show', :id => p.id)
    = show_video(p,{:width => '575px', :height => '323px'})

- unless @presentations.empty?
  %p
    = link_to("View all Presentations...", :controller => 'presentations', :action => 'index')
  
