!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    = javascript_include_tag("jquery-1.4.2.min.js")
    = javascript_include_tag("jquery-ui-1.8.4.custom.min.js")
    = stylesheet_link_tag("style.css")
    = yield :head
  
  %body
    #center_col
      #page_header
        %h1.header_text
          = link_to "Pecha Kucha", root_url
        #user_nav
          - if user_signed_in?
            Signed in as #{current_user.email}. Not you?  
            = link_to "Sign out", destroy_user_session_path
          - else 
            = link_to "Create Account", new_user_registration_path
            or
            = link_to "Sign in", new_user_session_path 
      #main
        - if flash[:notice] || flash[:alert]
          .flash_info
            %p.notice
              = flash[:notice]
            %p.alert
              = flash[:alert]
        
        = yield
        = yield :footer
    = javascript_include_tag("application")
